*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body{
    width: 80%;
    margin: 0 auto;
    color:  blue;
}

header{
    background-color: burlywood;
    margin-bottom: 20px;
    padding: 30px;
    font-size: 20px;
}